<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form method="post" action="/addEmployee">

        ID :<input type="text" name="id" id="id">
        Name :<input type="text" name="name" id="name">
        Salary:<input type="text" name="salary" id="salary">
        <input type="submit" name="btn" id="add" value="add">
        <input type="reset" name="btn" id="reset" value="reset">

    </form>"

</body>

</html>