<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post" action="/edit">

        ID :<input type="text" name="id" id="id" readonly value="<%=employee.id%>">
        Name :<input type="text" name="name" id="name" value="<%=employee.name%>">
        Salary:<input type="text" name="sal" id="sal"  value="<%=employee.sal%>">
        <button type="submit">update</button>
        <button type="reset">clear</button>

    </form>"

</body>
</html>